{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}


{% block content %}
  <div class="gap">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 text-center ">
                             {% if form.errors %}
                
<p>Invalid data. Please try again.</p>
{% endif %}
<form class="well form-horizontal" method="post" action=".">
  {% csrf_token %}
  <fieldset>
     <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Change Password</h4>
      </div>
    </div>
    <div class="form-group">
      <label for="inputOldPassword" class="col-lg-2 control-label">Passowrd</label>
      <div class="col-lg-8">
       {{ form.old_password|add_class:"form-control" }}
        <!-- <input class="form-control" id="inputEmail" placeholder="Email" type="text"> -->
      </div>
    </div>
      <div class="form-group">
      <label for="inputOldPassword" class="col-lg-2 control-label">New Passowrd</label>
      <div class="col-lg-8">
       {{ form.new_password1|add_class:"form-control" }}
        <!-- <input class="form-control" id="inputEmail" placeholder="Email" type="text"> -->
      </div>
    </div>
      <div class="form-group">
      <label for="inputOldPassword" class="col-lg-2 control-label">Repeat New Passowrd</label>
      <div class="col-lg-8">
       {{ form.new_password2|add_class:"form-control" }}
        <!-- <input class="form-control" id="inputEmail" placeholder="Email" type="text"> -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
          <input type="submit" value="{% trans 'Change' %}" class="btn btn-primary" />
  	
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
</div>
</div>


{% endblock %}
